$main:      #219e4a;
$secondary: #ffffff;
$white:     #ffffff;
$grey:      #c6c6c6;
$black:     #000000;

$headerHeight: 75px;
$sitePadding: 10px;
$defaultSpacing: 20px;
$siteMaxWidth: 1280px;

$defaultFont: 'Lemonada', cursive;
