$tablet: 1040px;
$mobile: 640px;

$main:      #55bb72;
$secondary: #f7931e;
$white:     #fbfbfb;
$grey:      #c6c6c6;
$black:     #000000;

$headerHeight: 75px;
$sitePadding: 10px;
$defaultSpacing: 20px;
$siteMaxWidth: 1280px;

$defaultFont: 'Noto Sans', cursive;
