@import 'styles/config';

@value defaultSpacing: #{$defaultSpacing};

.projects {
  &Description {
    margin-bottom: $defaultSpacing;
  }

  &Carousel {
    display: flex;
    align-items: center;
    position: relative;

    &Icon {
      height: 100%;
      font-size: 2rem;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: $main;
      }

      &Hidden {
        visibility: hidden;
      }
    }

    &Content {
      margin: 0 #{$defaultSpacing / 2};
      height: 250px;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
}

.project {
  display: inline-block;
  cursor: pointer;
  max-width: 297px;
  padding: 0 #{$defaultSpacing / 2};

  &Name {
    line-height: 2.5;
    text-align: center;
  }

  &Popup {
    &::before {
      position: fixed;
      display: flex;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba($black, .6);
      z-index: 2000;
    }

    &Content {
      position: fixed;
      cursor: auto;
      top: 50%;
      left: 50%;
      width: 75%;
      background: $white;
      z-index: 2500;
      transform: translate(-50%, -50%);

      &Header {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        padding: $defaultSpacing;
        background: $main;
        color: $white;

        &Cross {
          cursor: pointer;
        }
      }

      &Info {
        padding: $defaultSpacing;
        
        &Description {
          white-space: pre-wrap;
          margin-bottom: $defaultSpacing;
        }
      }

      &Pictures {
        display: flex;
        justify-content: space-between;

        &Item {
          width: calc(33% - #{$defaultSpacing / 2});
        }
      }
    }
  }
}
