@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './vendor/reset.css';
@import './config';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $defaultFont;
}

body {
  min-height: 100vh;
  background: $white;
  padding: $sitePadding !important;
  background-image: url('/pattern.jpg');

  @include breakpoint($mobile) {
    padding: 0 !important;
  }
}
