@import 'styles/config';

.contact {
  color: $white;

  &Description {
    max-width: 620px;
    margin: $defaultSpacing / 2 0;
  }

  &Links {
    display: flex;
    flex-wrap: wrap;

    &Item {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;
      min-width: 50%;
      font-size: 1.25rem;
      margin: $defaultSpacing / 4 0;

      &:hover {
        text-decoration: underline;
      }

      &Icon {
        font-size: 1.75rem;
        margin-right: $defaultSpacing / 4;
      }
    }
  }

  @include breakpoint($mobile) {
    &LinksItem {
      font-size: .85rem;

      &Icon {
        font-size: 1.4rem;
      }
    }
  }
}
