@import 'styles/config';

@value mainColor: #{$main};

.accordeon {
  &Tab {
    width: 100%;

    &:not(:first-child) {
      margin-top: -10px;
    }

    &Header {
      width: 100%;
      cursor: pointer;

      &Content {
        display: flex;
        justify-content: space-between;
        padding: 0 $defaultSpacing;
        width: 100%;

        &Text {
          margin: $defaultSpacing 0;
        }

        &Icon {
          transition: transform .3s;
          font-size: 2rem;
          margin: auto 0;
        }
      }
    }

    &Content {
      visibility: hidden;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height .25s ease-in-out,
                  padding-top .35s ease-in-out,
                  padding-bottom .35s ease-in-out,
                  opacity .25s ease-in-out;
    }

    &Active &Header{
      background: $white;

      &Content {
        color: $white;

        &Icon {
          transform: rotate(180deg);
        }
      }
    }

    &Active &Content {
      visibility: visible;
      opacity: 1;
      padding: $defaultSpacing;
      margin-top: -#{$defaultSpacing / 2};
      max-height: 100vh;
      transition: max-height .5s ease-in-out,
                  padding-top .25s ease-in-out,
                  padding-bottom .25s ease-in-out,
                  opacity .5s ease-in-out;
    }
  }
}
