@import 'styles/config';

@value mainColor: #{$main};

.wayOfWorking {
  width: calc(100% + #{$defaultSpacing * 2});
  margin: -#{$defaultSpacing} 0 -#{$defaultSpacing} -#{$defaultSpacing};
  padding: $defaultSpacing;
  display: flex;
  flex-direction: column;
  counter-reset: wayOfWorkingItem;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, $grey 1px, transparent 1px),
                    linear-gradient(to bottom, $grey 1px, transparent 1px);

  &Row {
    width: 100%;
    display: flex;
    padding: 0 5%;

    &:nth-child(odd) {
      justify-content: flex-end;
    }

    &Arrow {
      margin-top: -120px;
    }
  }

  &Item {
    counter-increment: wayOfWorkingItem;
    max-width: 65%;
    min-width: 450px;
    margin-top: 50px;

    &:last-of-type {
      margin-bottom: 50px;
    }

    &:nth-child(even) {
      margin-left: 2%;
    }

    &Header {
      color: $main;
      font-size: 1.6rem;
      margin-bottom: 5px;

      &Index::before {
        font-size: 3.2rem;
        margin-right: 5px;
        content: counter(wayOfWorkingItem);
      }
    }
  }
}
