@import 'styles/config';

@value mainColor: #{$main};

.wayOfWorking {
  width: calc(100% + #{$defaultSpacing * 2});
  margin: -#{$defaultSpacing} 0 -#{$defaultSpacing} -#{$defaultSpacing};
  padding: $defaultSpacing;
  display: flex;
  flex-direction: column;
  counter-reset: wayOfWorkingItem;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, $grey 1px, transparent 1px),
                    linear-gradient(to bottom, $grey 1px, transparent 1px);

  &Row {
    width: 100%;
    display: flex;
    padding: 0 5%;

    &:nth-child(odd) {
      justify-content: flex-end;
    }

    &Arrow {
      margin-top: -35px;

      &1 {
        background-image: url(../../img/arrow1.svg);
        height: 173px;
        width: 172px;
      }

      &2 {
        background-image: url(../../img/arrow2.svg);
        height: 217px;
        width: 267px;
      }

      &3 {
        background-image: url(../../img/arrow3.svg);
        height: 169px;
        width: 269px;
      }
    }
  }

  &Item {
    counter-increment: wayOfWorkingItem;
    max-width: 65%;
    min-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;

    &:nth-child(even) {
      margin-left: 2%;
    }

    &Header {
      color: $main;
      font-size: 1.6rem;
      margin-bottom: 5px;

      &Index::before {
        font-size: 3.2rem;
        margin-right: 5px;
        content: counter(wayOfWorkingItem);
      }
    }
  }

  @include breakpoint($mobile) {
    &Row {
      padding: 0;

      &:nth-child(odd) {
        justify-content: unset;
      }

      &Arrow {
        display: none;
      }
    }

    &Item {
      min-width: unset;
      max-width: unset;
      margin-top: 0;
      margin-bottom: 25px;

      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }

  @include breakpoint(960px) {
    &Row {
      padding: 0 2.5%;
    }
  }

  @include breakpoint(910px) {
    &Row {
      &Arrow {
        margin-top: -35px;
  
        &1 {
          background-image: url(../../img/arrow1-tablet.svg);
          height: 188px;
          width: 83px;
        }
  
        &2 {
          background-image: url(../../img/arrow2-tablet.svg);
          height: 226px;
          width: 79px;
        }
  
        &3 {
          background-image: url(../../img/arrow3-tablet.svg);
          height: 168px;
          width: 75px;
        }
      }
    }
  }
}
