@import 'styles/config';

@value mainColor: #{$main};
@value headerHeight: #{$headerHeight};
$headerHeightSmall: $headerHeight / 1.5;

.header {
  height: $headerHeight;
  width: calc(100% - #{$defaultSpacing});
  max-width: $siteMaxWidth;
  padding: 0 $defaultSpacing;
  color: $white;
  position: fixed;
  z-index: 2000;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  transition: height .45s ease-in-out, opacity .45s ease-in-out;

  &Content {
    display: flex;
    width: 100%;
    height: $headerHeight;
    justify-content: space-between;
    align-items: center;
    transition: height .45s ease-in-out;
  }

  &Branding {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    &Logo {
      height: calc(100% - 5px);
      margin-right: 10px;
    }
  }

  &Nav {
    margin-left: 20px;

    &List {
      display: flex;

      &Item {
        &:not(:last-child) {
          margin-right: $defaultSpacing;
        }

        &Button {
          background: $main;
          color: $white;
          font-size: 1.05rem;
          font-weight: 1000;
          transition: font-size .45s ease-in-out;

          &Content {
            font-weight: 900;
          }
        }
      }
    }
  }

  &Opened {
    height: $headerHeightSmall;
  }

  &Opened &Content {
    height: $headerHeightSmall;
  }

  &Opened &NavListItemButton {
    font-size: .75rem;
  }

  @include breakpoint($tablet) {
    &BrandingName {
      display: none;
    }
  }

  @include breakpoint(855px) {
    &NavListItemButton {
      font-size: .9rem;
    }
  }

  @include breakpoint(850px) {
    &BrandingName {
      display: block;
    }

    &Nav {
      display: none;
    }

    &Opened {
      opacity: 0;
    }
  }

  @include breakpoint($mobile) {
    width: 100%;
  }
}

.hamburger {
  display: none;

  @include breakpoint(850px) {
    display: unset;
    opacity: 1;
    transition: opacity .45s ease-in-out;

    &Hidden {
      opacity: 0;
    }

    &Button {
      color: transparent;
      z-index: 2100;
      position: fixed;
      top: $defaultSpacing;
      right: $defaultSpacing;
      height: 50px;
      width: 50px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:active &Icon {
        transform: scale(1.1);
      }
      
      &Icon {
        transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
        color: $white;
        font-size: 1.5rem;
      }
    }

    &Menu {
      max-height: 0;
      position: fixed;
      z-index: 1800;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      color: $white;
      transition: max-height .45s ease-in-out, padding-top .45s ease-in-out;
      opacity: 1;
      padding: 0 $defaultSpacing;

      &Nav {
        opacity: 0;
        transition: opacity 1s ease-in;
        padding: $headerHeight + $defaultSpacing $defaultSpacing / 2 $defaultSpacing / 2 ;

        &Item {
          font-size: 1.75rem;
          margin-bottom: $defaultSpacing;
        }
      }

      &Opened {
        max-height: 100vh;
        padding: $defaultSpacing;
      }

      &Opened &Nav {
        opacity: 1;
      }
    }
  }

  @include breakpoint($mobile) {
    &Button {
      top: $defaultSpacing / 1.5;
      right: $defaultSpacing / 1.5;
    }

    &Menu {
      padding: 0 $defaultSpacing / 2;
    }
  }
}
