@import 'styles/config';

@value headerHeight: #{$headerHeight};
@value mainColor: #{$main};

.section {
  padding: $defaultSpacing $defaultSpacing * .75;
  margin-top: $defaultSpacing;
  width: 100%;

  @include breakpoint($mobile) {
    margin-top: 0;
  }
}
