@import 'styles/config';

@value headerHeight: #{$headerHeight};

.content {
  max-width: $siteMaxWidth;
  margin: 0 auto;
  padding-top: $headerHeight;
}

.icon {
  display: none;

  @include breakpoint(800px) {
    display: unset;
    z-index: 2000;
    color: $white;
    width: 50px;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: $defaultSpacing;
    right: $defaultSpacing;
    transform: translate(-20%, -20%);
    --wired-fab-bg-color: #{$main};
    opacity: 1;
    transition: opacity .45s ease-in-out;
  
    &Hidden {
      opacity: 0;
    }
  
    &Arrow {
      font-size: 1.5rem;
    }
  }
}
